<h1>Welcome to AlbumBook</h1>

  <p>
    This is the admin test control site for to test features to the upcoming site.
  </p>

  <ul>
    <button class="button button1"> <a href="Artists">Artists page</a></button>
    <button class="button button1"><a href="Friends">Friends page</a> </button>
    <button class="button button1"><a href="Playlist">Playlist page</a></button>
    <button class="button button1"><a href="Songs">Songs page</a></button>
    <button class="button button1"><a href="Users">Users page</a></button>
  </ul>